


  <!-- <link rel="stylesheet" href="/styles/stories.css" type="text/css" /> -->

  <div class='topnav'>
    <div class='leftnav'>
      <a class='create-story-btn' href="/">Home</a>

      <a class='all-stories-btn' href="/new"><button class="bttn-unite bttn-md bttn-primary">Create Story</button></a>
    </div>
    <div class='rightnav'>
     <a class='login-btn' href="/login"><button class="bttn-jelly bttn-md bttn-primary">Sign in</button></a>
     <a class='register-btn' href="/register"><button class="bttn-jelly bttn-md bttn-primary">Register</button></a>
     <a class='logout-btn' href="/login">Sign out</a>
    </div>
  </div>
