<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head') %>
  <title>New Story - Story Creator</title>
  <link rel="stylesheet" href="/styles/create.css" type="text/css" />
</head>
<body>
  <%- include('_header') %>
  <section class='pt-60 create-story'>
    <form id="create-story-form" method="POST" action="/new/story" >
      <div class="publish-btn">
        <button type="submit">Publish</button>
      </div>
      <div class="section-title">
        <input class="new-title" type="text" name="title" placeholder="Title">
      </div><br>

      <div class="section-photo">
        <input class="new-photo" type="url" name="photo_url" placeholder="photo url">
      </div><br>

      <div class="section-content">
        <textarea class="new-story" name="content" placeholder="your story..."></textarea>
      </div>
      <div>
        <a href='#'><button class="bttn-pill bttn-md bttn-primary">Cancel</button></a>
      </div>

    </form>
  </section>

</body>
</html>
