section {
  padding: 40px 100px 100px 100px;
  max-width: 850px;
  margin-left: 5%;
}

.main-story {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.stories {
  padding-top: 10px;
}

#title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding: 5px 0;
  border-bottom: 1px solid #a3a3a3;
}

.story-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-between;
  margin: 30px 0;
}

.story-container .text-container {
  align-items: center;
  margin-right: 30px;
}

.story-container .text-container a {
  text-decoration: none;
}

.story-container .text-container a :hover {
  color: black;
}

.story-container .text-container h1 {
  margin: 15px 0;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
}

.story-container .text-container h3 {
  color: grey;
  font-weight: 400;
  margin-bottom: 20px;
}

.story-container .text-container h4 {
  margin: 3px 0;
  font-weight: 400;
}

.story-container .text-container h5 {
  color: grey;
  padding-right: 0.5em;
}

.story-container .status-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.story-container .thumbnail-container {
  height: 160px;
  min-width: 160px;
  margin-left: auto;
}

.story-container .thumbnail-container .image {
  height: 100%;
  width: 100%;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

.first-story-container {
  display: flex;
  flex-direction: column;
}

.first-story-container .thumbnail-container {
  height: 350px;
  width: 100%;
}

.first-story-container .thumbnail-container .image {
  width: 100%;
  height: 100%;
}

.first-story-container .text-container {
  width: 95%;
  word-wrap: break-word;
  /* margin: 0 5%; */
}

.first-story-container .text-container h1 {
  font-size: 3em;
  line-height: 1em;
  margin: 25px 0;
  color: rgb(134 25 143);
}

@media only screen and (max-width: 667px) {
  section {
    padding: 20px;
    max-width: 800px;
    margin-left: 0px;
  }
  .story-container {
    align-items: flex-start;
    margin: 20px 0;
  }
  .story-container .text-container {
    margin-right: 10px;
    color: rgb(134 25 143);
  }
  .story-container .thumbnail-container {
    margin-top: 20px;
    height: 80px;
    min-width: 80px;
    margin-left: auto;
  }
  .story-container .thumbnail-container .image {
    height: 100%;
    width: 100%;
  }
}

body .line{
  border-left: 5px solid rgb(77, 46, 46);
  display: block;
}

.main-page {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

#main-references{
  margin-top: 10%;
  border-left: black;
  padding-right: 10%;
  padding-left: 0%;
}
#main-references .anchor{
  display: flex;
  margin-bottom: 20%;
}

/* //////// */

@import url('https://fonts.googleapis.com/css?family=Raleway:200');

html, body {
  height: 100%;
}
body {
  background: #1D1F20;
}
#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
}
.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.topnav{
  background-color: #beaeae;
}

